@model IEnumerable<Major>
@{
    Layout = null;
}
<div class="form-group">
    <select name="major" id="major" class="form-control" data-parent-select="major-college">
        @foreach (var x in Model)
        {
            <option>@x.Title</option>
        }
    </select>
</div>

