<div class="container">
    <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
            <table class="table">
                <caption class="text-center text-success">已提交报告</caption>
                <tbody>
                    <tr>
                        <th>开题报告</th>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告1</th>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告2</th>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告3</th>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-xs-12">
            <table class="table">
                <caption class="text-center text-danger">未提交报告</caption>
                <tbody>
                    <tr>
                        <th>开题报告4</th>
                        <td><span><i class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告5</th>
                        <td><span><i class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告6</th>
                        <td><span><i class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                    <tr>
                        <th>开题报告7</th>
                        <td><span><i class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
