@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>毕业设计高效管理网站注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="~/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" href="~/styles/font-awesome.min.css">
    <link rel="stylesheet" href="~/styles/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/script/html5shiv.js"></script>
      <script src="~/script/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
</head>
<body id="home">
    <div class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand"><img>EMWeb</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Login" asp-controller="Account">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="splash" style="height:800px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h1>欢迎我校广大师生</h1><br />
                    <h1>进行注册</h1>
                     
                </div>
                <div class="col-lg-4 col-md-6">
                    <form id="registerfrm">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="姓名" id="name" class="form-control form-group" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="number" placeholder="学号" id="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="用户名" id="username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="密码为5位以上任意字符" id="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirmpwd" placeholder="确认密码" id="confirmpwd" class="form-control" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="college" id="college">
                                <option id="bug">请选择您的学院</option>
                                @foreach (College x in ViewBag.College)
                                {
                                    <option>@x.Title</option>
                                }
                            </select>
                        </div>
                        <div id="major-html"></div>
                        <button type="submit" class="btn btn-success form-control">注册</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Design by &copy;<a href="http://www.asiacream.cn" target="_blank">Cream</a>.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrapValidator.min.js"></script>
    <script src="~/scripts/custom.js"></script>
</body>
</html>
<script type="text/javascript">
    $("#college").change(function () {
        var college = $("#college").val();
        var url = "/Home/GetMajor";
        if (college == "请选择您的学院") {
            alert("请选择您的学院");
        }
        else {
            $("#bug").remove();
            var params = { college: college };
            $.get(url, params, function (html) {
                $("#major-html").html(html);
            });
        }
    });
        $(function () {
            $("#registerfrm").bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    name: {
                        message: '姓名没有验证',
                        validators: {
                            notEmpty: {
                                message: '姓名不能为空'
                            }
                        }

                    },
                    number: {
                        message: '学号还没有验证',
                        validators: {
                            notEmpty: {
                                message: '学号不能为空'
                            },
                            numeric: {
                                message: '学号只能是数字'

                            },
                            stringLength: {
                                min: 10,
                                max:10,
                                message:'学号长度为十位数字'
                            },

                        }
                    },
                    username: {
                        message: '用户名还没有验证',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    
                    password: {
                        message: '密码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 12,
                                message: '密码长度在6到12之间'
                            },
                        }
                    },
                    confirmpwd: {
                        message: '确认密码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '确认密码不能为空'
                            },
                            identical: {
                                field: 'password',
                                message: '两次密码不同请重新输入'
                            }
                        }
                    },
                    college: {
                        message: '学院还没有验证',
                        validators: {
                            notEmpty: {
                                message: '学院不能为空'
                            },
                        }
                    },
                }
            })
            .on('success.form.bv', function (e) {
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('bootstrapValidator');

                $.post("/Account/Register", $form.serialize(), function (data) {
                    if (data == "success") {
                        alert("注册成功，即将跳转至登录页面...");
                        window.location.href = "/Account/Login";
                    } else if (data == "error") {
                        alert("用户名已存在，重新注册");
                        window.location.href = "/Account/Register";
                    }
                    else if (data == "请选择您的学院") {
                        alert("请正确选择您的学院");

                    }
                    else {
                        alert("注册失败，请重新注册！");
                        window.location.href = "/Account/Register";
                    }
                });
            });
      });
</script>

